body {
  font-family: "Roboto", "Helvetica Neue", "Verdana", sans-serif;
  font-weight: 400; /* Regular */
  font-size: 16px;
  line-height: 1.5; /* або 1.5, якщо хочеш відносну висоту */
  letter-spacing: 0.02em; /* 2% */
  color: #434455; /* можна замінити на конкретний колір, наприклад #333 */
  background-color: #ffffff; /* білий фон */
}
ul li {
  list-style-type: none;
}
.titles {
  font-weight: 700; /* Bold */
  color: #2e2f42;
}
.page-title {
  font-size: 56px;
  line-height: 60px;
  color: #ffffff;
}
.section-title {
  font-size: 36px;
}
.post-titles {
  font-weight: 500; /* Medium */
  font-size: 20px;
}
.btn {
  font-weight: 500; /* Medium */
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
a {
  text-decoration: none;
}
.lnk {
  color: #2e2f42;
}
.lnk:hover {
  color: #404bbf;
}
.lnk-studio:active {
  text-decoration: underline;
}
.lnk-mail-phone {
  color: #434455;
}
.lnk-mail-phone:hover,
.lnk-mail-phone:focus {
  color: #404bbf;
}
header {
  background-color: #e7e9fc;
}
.section-title {
  background-color: #2e2f42;
}
.section-our-values {
  background-color: #ffffff;
}
.section-our-team {
  background-color: #f4f4fd;
}
.section-our-team-post {
  background-color: #ffffff;
}

.logo_header span {
  color: #4d5ae5;
}
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.logo_header {
  text-transform: uppercase;
  color: #2e2f42;
}
.logo_footer {
  text-transform: uppercase;
  color: #f4f4fd;
}
.logo_footer span {
  color: #4d5ae5;
}
